body {
  background-color: #e3c099;
  margin: 10px;
}

input {
  background-color: #e5d3b3;
  box-shadow: 2px 2px
}

header h1 {
  font-size: 50px;

}

a {
  color: black;
}

section figure img {
  width: 800px;
  height: auto;
  text-align: center;
  padding: 15px;
  border: 3px solid #5b0f00;
  object-fit: cover;
}

figure img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 3px 3px;
}

figcaption {
  text-align: center;
  font-size: 25px;
  line-height: 2.5;
}

header {
  text-align: center;
  color: #5b0f00;
}

article iframe {
  text-align: center;
  width: 100%;
}

h2 {
  text-align: center;
  color: #5b0f00;
}

h3 {
  text-align: center;
}

article h3 {
  text-align: center;
  color: black;
}

article h4 {
  text-align: center;
}

tbody {
  line-height: 400%;
}

figure {
  text-align: center;
}

footer p {
  font-size: 15px;
  font-style: italic;
}

nav ul {
    background-color: #795644;
    box-shadow: 3px 3px;
    color: #8888;
    display: block;
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 10px;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  background-color: #795644;
}

li {
  font-size: 30px;
  float: left;
  padding: 5px 5px;
  color: white;
  text-align: center;
  padding: 5px 20px;
  text-decoration: underline;
  display: inline;
  padding-right: 100px;
}

li a:hover {
  background-color: #6b3e2e;
{
